.circles {
  display: flex;
}

.Circle {
  margin: 0.5rem;
  height: 150px;
  width: 150px;
  background-color: bisque;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* .green {
  margin: 0.5rem;
  height: 150px;
  width: 150px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow {
  margin: 0.5rem;
  height: 150px;
  width: 150px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  margin: 0.5rem;
  height: 150px;
  width: 150px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  margin: 0.5rem;
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
