.circles {
  display: flex;
}

.Circle {
  margin: 0.5rem;
  height: 150px;
  width: 150px;
  /* background-color: bisque; */
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* .active {
  background: url("../assets/bulb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
} */

.green {
  border: none;
  background-color: green;
}

.yellow {
  border: none;
  background-color: yellow;
}

.blue {
  border: none;
  background-color: blue;
}

.red {
  border: none;
  background-color: red;
}
